@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #44c4c4;

  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--accent);
  font-weight: bold;
}

p {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10rem;
}
